#Prefix: The prefix for the plugin to use {PREMIUM-ONLY}
prefix: '&l&f[&cCOM&f]&r'
#Auto download dependencies: Automatically download all required dependencies if this plugin cannot find them on the
# computer. By having this value set to 'true', you understand and thereby give permission for this plugin to
# download files that are required in order for this plugin to properly function, as well as give permission for this
# plugin to automatically restart the server it is running on after successfully downloading all dependencies.
# For restarting to work properly, in your 'spigot.yml', ensure that the value under 'settings.restart-script' is set
# to your restart script location.
auto-download-dependency: false
#Check for updates: Allows the plugin to check if there are new versions of the plugin. This does not give the plugin permission to download new versions of itself.
check-for-updates: true
#Lang: The two letter abbreviation for what language the plugin will be translated to. Set to 'none' if you don't want to use the translation service. Default: EN {PREMIUM-ONLY}
lang: 'EN'
#Server Mode: If set to true, when joining the server, players will be automatically put into a match.
serverMode: false
#Scoreboard: The different things you can change in the scoreboard.
Scoreboard:
  #Header of the tab list. Leave blank for default.
  Header: '[COM-Warfare]'
#Lobby Time: The amount of time players should wait in the lobby before the match starts.
lobbyTime: 70
#LobbyServer: The name of the bungee lobby server to connect to when/if 'serverMode' is enabled. If disabled, use 'none'
lobbyServer: 'none'
#Players: the min and max amount of players allowed in a single game. Default range:  (2, 12) {PREMIUM-ONLY}
players:
  min: 2
  max: 12

#Auto kick on match end: Should matches kick players out of the lobby when a game ends or not?
autoKickOnMatchEnd: false

#Map voting: Should map voting be allowed?
mapVoting: true

#Inventory: Position of various items in the menu (0-8: Hotbar, 9-35: Inventory)
inventory:
  inGame:
    primary: 1
    secondary: 2
    knife: 0
    lethal: 3
    tactical: 4
    primaryAmmo: 28
    secondaryAmmo: 29
    compass: 8
    selectClass: 32
    leaveGame: 35
    gunGameAmmo: 8
  lobby:
    menu: 0
    leaveLobby: 8

#Spawn Protection: Should the player be temporarily invulnerable on spawning?
spawnProtection:
  enabled: true
  #Duration (in seconds)
  duration: 3

#Item Bridge: Should this plugin attempt to grab weapons and ammo using item bridge?
itemBridge:
  enabled: false
  #Prefixes to use for each weapon. For each weapon listed under a prefix, it will use the given prefix to grab from item bridge. CaSe SeNSiTiVe.
  prefix:
    qa:
      - M4A1
      - AK-47

#Game time: The amount of time (in seconds) players should spend inside of a match, separated by gamemode.
gameTime:
  TDM: 600
  DOM: 600
  CTF: 600
  FFA: 600
  RSB: 600
  KC: 600
  OITC: 300
  GUN: 600
  RESCUE: 120
  HARDPOINT: 150
  GUNFIGHT: 120
#Default health: How much health should the player start with? (Default is 20 in Minecraft, but 100 can be used to make guns do more precise damage amounts.) Default: 20 {PREMIUM-ONLY}
defaultHealth: 100
#Max level: What is the maximum level that a player can reach before they stop to level up?
maxLevel: 55
#Maximum prestige level: What is the prestige level at which the player can reach before they can no longer prestige? Default: 0 {PREMIUM-ONLY}
maxPrestigeLevel: 10
#Translate api_key: The key required by McTranslate++ to utilize all Cloud-based translation actions. Default: none {PREMIUM-ONLY}
translate:
  api_key: none
#Maximum score: The score that players much reach in the game to stop the game before the timer has finished counting down. {PREMIUM-ONLY}
maxScore:
  TDM: 75
  RSB: 75
  FFA: 30
  KC: 50
  DOM: 200
  #CTF: The amount of flags to be captured.
  CTF: 3
  #INFECT: The starting time of infected. (Will increase with every infected kill.)
  INFECT: 120
  #OITC: The amount of lives in One in the Chamber
  OITC: 3
  #GUNFIGHT/RESCUE: The amount of rounds required to win.
  GUNFIGHT: 4
  RESCUE: 4
  #HARDPOINT: The amount of kills required while holding the point required to win.
  HARDPOINT: 75

#Debug: Show debug messages in console
debug: false

#OITC Gun: The gun to be used in One In The Chamber.
OITC_Gun: none

#GunProgression: A list of the gun's names to be used in gun game. Players will spawn with the top gun, and with every kill, they will receive the next gun in the list until there is no more.
GunProgression: []

#Knife Damage: How much damage should hitting players with the knife deal? (Percentage of health, out of 100)
knifeDamage: 100

#Rewards: Commands to execute when certain conditions are met. use {PLAYER} for the player's name.
Rewards:
  #When a player reaches the max level.
  Max_Level: 'none'
  #When a player reaches the max prestige.
  Max_Prestige: 'none'
  #When a player reaches the max level at the max prestige.
  Max_Prestige_Max_Level: 'none'
  #When a player earns the highest KD in a match.
  Highest_KD: 'none'
  #When a player earns the highest score in a match.
  Highest_Score: 'none'
#Menu item changes.
menu:
  createAClass: CHEST
  shop: EMERALD
  combatRecord: PAPER
  challenges: GOLD_INGOT
  killstreaks: DIAMOND
  UAV: SHEARS
  counterUAV: REDSTONE
  VSAT: GOLD_NUGGET
  dogs: BONE
  nuke: TNT
  airstrike: GLASS_BOTTLE
  juggernautSuit: BREAD
  matchBrowser: EMERALD
  matchInfo: PAPER
  leaderboard: PAPER
  prestige: ANVIL
  primaryShop: IRON_HOE
  grenadeShop: SLIME_BALL
  perkShop: APPLE
  voteA: PAPER
  voteB: PAPER
  openMenu: ENDER_PEARL
  assignmentKills: GOLD_INGOT
  assignmentWin: ARROW
  assignmentWinGameMode: GOLDEN_APPLE
  assignmentPlayMode: PAPER
  statKills: ARROW
  statDeaths: REDSTONE
  statKDR: GLASS_BOTTLE

#Level Names: The names for each level that will be shown next to players' levels on the scoreboard and chat.
LevelNames:
  1: 'PVT'
  2: 'PFC'

killfeed:
  # Show for all: Show all kills and deaths (not just own) in chat.
  showForAll: true
  # Use Boss Bar: Use the boss bar for showing kill feed.
  useBossBar: true

#Rank Tiers: The tiers at which players can receive different rewards. All players can get the default one. The permission for each tier are 'com.[tier]' Default: default rank {PREMIUM-ONLY}
RankTiers:
  #The name of the tier
  default:
    #The amounts for kill rewards.
    kill:
      #Amount of xp rewarded when a player kills another player.
      xp: 100
      #Amount of credits rewarded when a player kills another player.
      credits: 1
    #Amount of credits rewarded when a player levels up.
    levelCredits: 0
  donator:
    kill:
      xp: 200
      credits: 5
    levelCredits: 10